h3{
  padding-top: 80px;
  color:black;
  font-weight: bolder;
  text-align: center;
}
.content{
  height: 200px;
  width: 100%;
  background: image-url("apps.jpg");
}
.search{
  text-align: center;
  background-color: rgb(172, 243, 248);
  color: rgb(126, 29, 150);
  height:40px;
}
.search input{
  width: auto;
  opacity:0.6;
}
.nav-top a{
  color: #89bdf0;
  font-size: 15px;
}
.action{
  height: 50px;
}
